

/*Ajustando o carrossel para dentro do main*/
main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;   

}

.carousel img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.bg-light{
  background-color: rgb(224, 224, 224);
}


a{
  font-size: 18px;
}

p{
  font-size: 18px;
}

.btn-cta {
  background-color: #28a745;
  color: white;
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Transição suave para hover */
  margin: 10px;
}

#btn2{
  background-color: rgb(255, 63, 63);
}

#btn2:hover{
  background-color: rgb(204, 28, 28);
}

.btn-cta:hover {
  background-color: #218838; /* Muda a cor no hover */
  transform: scale(1.1); /* Aumenta ligeiramente o botão */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra no hover */
}

.cta-section {
  padding: 40px 0;
}

.cta-section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.cta-section p {
  font-size: 20px;
  margin-bottom: 30px;
}